@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Inter:wght@200&family=Neonderthaw&family=Poppins:ital,wght@0,100;0,200;0,300;1,100;1,200;1,300&display=swap');

:root{
    --light-dark:#444;
    --white-color:#fff;

}

*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

section{
    padding: 2rem 8%;
}

header{
    padding: 1rem 8%;
    background: var(--light-dark);
    color:var(--white-color);
    box-shadow: 0 0 0 3px rgba(0, 0, 0, .1);
}

header .header-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    width: 50px;
}

header .header-1 .navbar{
    display: block;
}

header .header-1 .navbar ul{
    list-style: none;
    display: flex;
    flex-direction: row;
}

header .header-1 .navbar ul li{
    margin-right: 40px;
}

header .header-1 .navbar ul li a{
    font-size: 1.1rem;
    text-transform: capitalize;
    text-decoration: none;
    color: #fff;
}

.burger{
    transform:rotateY(-180deg);
    cursor: pointer;
    overflow: hidden;
    display: none;
    position: fixed;
    right: 8%;
    z-index: 1100;
}

.burger .bars1{
    width: 50px;
    background: #40E0D0;
    height: 5px;
    margin-bottom: 3px;
    border-radius: 4px;
    transition: 1s;
}
.burger .bars2{
    width: 40px;
    background: #40E0D0;
    height: 5px;
    margin-bottom: 3px;
    border-radius: 4px;
    transition: 1s;
}
.burger .bars3{
    width: 30px;
    background: #40E0D0;
    height: 5px;
    margin-bottom: 3px;
    border-radius: 4px;
    transition: 1s;
}

.burger .bars1.change{
    transform: translateY(9px) rotate(45deg);
    transition: 1s;
    width: 35px;
}

.burger .bars2.change{
    transform: translate(50px);
    transition: 1s;
}

.burger .bars3.change{
    transform: translateY(-5px) rotate(-45deg);
    transition: 1s;
    width: 35px;
}


header .header-1 .hiddenNav{
    position: fixed;
    left: 100%;
    background: var(--light-dark);
    color: var(--white-color);
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 1000;
    padding: 30px;
    text-align: center;
    transition: .8s;
}

header .header-1 .hiddenNav ul{
    list-style: none;
}

header .header-1 .hiddenNav ul li{
    margin-top: 50px;
}

header .header-1 .hiddenNav ul li a:hover{
    color: rgba(255, 255, 255, 0.1);
    transition-delay: 0s;
}

header .header-1 .hiddenNav ul li a{
    color: var(--white-color);
    text-decoration: none;
    text-transform: capitalize;
    font-size: 3rem;
    position: relative;
    font-weight: 700;
    display: block;
}

header .header-1 .hiddenNav ul li a::before{
    content: attr(data-text);
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 50%);
    font-size: 0.35em;
    color: #3bffe8;
    text-shadow: 0 0 10px #3bffe8,
    0 0 30px #3bffe8,
    0 0 80px #3bffe8;
    font-weight: 500;
    letter-spacing: 40px;
    white-space: nowrap;
    opacity: 0;
    transition: 0.5s;
}

header .header-1 .hiddenNav.change{
    left: 0;
    transition: .8s;
}

header .header-1 .hiddenNav ul li a:hover::before{
    opacity: 1;
    letter-spacing: 6px;
    transition-delay: 0.2s;
}


.banner{
    background: var(--light-dark);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
    align-items: center;
}

.banner .content{
    max-width: 400px;
}

.banner .content h3{
    text-transform: capitalize;
    color: var(--white-color);
    font-size: 1.9rem;
    font-weight:800;
}

.banner .content p{
    color: var(--white-color);
    margin-bottom: 20px;
}

.banner .content ul{
    display: inline-flex;
    list-style: none;
}

.banner .content ul li{
    margin-right: 20px;
}

.banner .content ul li:nth-child(2) a{
    background: green;
}

.banner .content a{
    color: var(--white-color);
    text-decoration: none;
    background: red;
    padding: 10px;
    border-radius: 10px;
    text-transform: capitalize;
}

.banner .content a:hover{
    letter-spacing: 1px;
}

.banner .imagesBx{
    max-width: 400px;
    max-height: 400px;
}

.banner .imagesBx img{
    width: 100%;
    height: 100%;
}


/* Section 2 (Course) */
.course{
    background: var(--white-color);
    padding-top: 60px;
    text-align: center;
    text-transform: capitalize;
    cursor: default;
}

.course ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 70px;
}

.course ul li i{
    font-size: 3rem;
    color: var(--light-dark);
    padding: 10px;
    transition: .5s;
}

.course ul li i:hover{
    transform: translateY(-5px);
    transition: .5s;
}

.course ul li:nth-child(1) i{
    color: #FF7F50;
}

.course ul li:nth-child(2) i{
    color: #6495ED;
}

.course ul li:nth-child(3) i{
    color: #8E44AD ;
}

.course ul li:nth-child(4) i{
    color: #444;
}

.course ul li:nth-child(5) i{
    color: #DFFF00;
}

.course ul li:nth-child(6) i{
    color: #40E0D0;
}

.course ul li:nth-child(7) i{
    color: #95A5A6 ;
}

.course ul li:nth-child(8) i{
    color: #DE3163 ;
}

/* Section service */
.service{
    text-align: center;
    margin-top: 70px;
    background: url('BottomWave.svg');
    background-repeat: no-repeat;
    background-position: bottom;
}

.service h3{
    color: var(--light-dark);
}

.service p{
    text-transform: capitalize;
    color: var(--light-dark);
}

.service .content{
    margin-top: 90px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 20px;
    cursor: default;
}

.service .cards{
    max-width: 300px;
    padding: 20px;
    background: var(--white-color);
    border: 15px solid #fff;
    box-shadow: 0 5px 35px rgb(0 0 0 / 8%);
    border-radius: 10px;
    transition: .5s;
    position: relative;
}

.service .cards:hover::before{
    content: '';
    background: #6495ED;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5px;
    left: 0;
    transition: .5s;
    border-radius: 4px;
}

.service .cards:hover{
    transform: scale(1.1);
    transition: .5s;
}

.service .cards h3{
    margin-bottom: 25px;
    color: var(--light-dark);
    position: relative;
}


.service .cards p{
    color: var(--light-dark);
}

.service .cards i{
    margin-bottom: 35px;
    font-size: 3rem;
}

.service .cards:nth-child(1) i{
    color: #ff0;
}

.service .cards:nth-child(2) i{
    color: #E74C3C ;
}

.service .cards:nth-child(3) i{
    color: #5DADE2 ;
}

.service .cards:nth-child(4) i{
    color: #45B39D;
}

/* New Course */
.newCourse{
    margin-top: 40px;
    text-transform: capitalize;
    text-align: center;
}

.newCourse .content{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 20px;
    cursor: default;
}

.newCourse .content .cards{
    max-width: 350px;
    padding: 20px;
    background: var(--white-color);
    border: 15px solid #fff;
    box-shadow: 0 5px 35px rgb(0 0 0 / 8%);
    border-radius: 10px;
    transition: .5s;
    position: relative;
    border-radius: 10px;
}

.newCourse .content .cards .content {
    position: relative;
    overflow: hidden;
    height: 200px;
}

.newCourse .content .cards .content h3{
    text-transform: uppercase;
    position: relative;
    text-align: center;
}

.newCourse .content .cards:hover .content h3::before{
    content: '';
    background: #40E0D0;
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: 0;
    border-radius: 5px;
    transition: .1s;
}

.newCourse .content .cards .content p{
    text-transform: lowercase;
}

.newCourse .content .cards .content ul{
    display: flex;
    column-gap: 50px;
    list-style: none;
    margin-top: 147px;
    transition: 1s;
}

.newCourse .content .cards:hover .content ul{
    display: flex;
    list-style: none;
    margin-top: 0px;
    transition: 1s;
}

.newCourse .content .cards .content ul li a{
    text-decoration: none;
    color: var(--light-dark);
}

.newCourse .cards .imgBox{
    max-width: 280px;
    height: 170px;
}

.newCourse .cards .imgBox img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}


/* about */
.aboutUs{
    text-align: center;
    text-transform: capitalize;
}

.aboutUs .content{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
}

.aboutUs .content .contentText{
    text-align: left;
    max-width: 500px;
    position: relative;
    z-index: 20;
    text-align: justify;
}

.aboutUs .content .contentText::before{
    content: '';
    background: url('blob1.svg') no-repeat;
    width: 300px;
    height: 300px;
    position: absolute;
    opacity: 20%;
    top: -100px;
}

.aboutUs .content .imgBox{
    max-width: 500px;
}

.aboutUs .content .imgBox img{
    width:100%
}


/* Contact Us */
.contactUs{
    text-align: center;
    text-transform: capitalize;
    margin-top: 60px;
    background: url('bottomWave2.svg') no-repeat;
    background-position: bottom;
}

.contactUs .content{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.contactUs .content .contentText{
    text-align: left;
    max-width: 500px;
    position: relative;
    z-index: 20;
    text-align: justify;
}

.contactUs .content .contentText ul{
    list-style: none;
}

.contactUs .content .contentText ul li{
    margin-top: 10px;
}

.contactUs .content .contentText ul li input{
    border: 1px solid #40E0D0;
    width: 100%;
    height: 30px;
    outline: none;
    background: transparent;
    padding: 0 10px;
    border-radius: 20px;
}

.contactUs .content .contentText ul li textarea{
    border: 1px solid #40E0D0;
    resize: none;
    outline: none;
    padding: 5px 10px;
}

button{
    background: #3bffe8;
    border: none;
    color: var(--light-dark);
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.contactUs .content .imgBox{
    max-width: 500px;
}

.contactUs .content .imgBox img{
    width:100%
}


/* footer */
.footer{
    background: #40E0D0;
    text-align: center;
}

.footer ul{
    list-style: none;
    display: flex;
    justify-content: center;
    column-gap: 50px;
}

.footer ul li a{
    color: var(--white-color);
    font-size: 2rem;
}

.footer .bottomNav ul{
    list-style: none;
    display: flex;
    column-gap: 40px;
    margin-top: 40px;
}

.footer .bottomNav ul li a{
    text-decoration: none;
    font-size: 1rem;
    text-transform: capitalize;

}




































@media(max-width:1115px){
    .banner{
        justify-content: space-evenly;
    }

    .service{
    background: #fff;
    color: var(--light-dark);
    }

    .service h3{
        margin-top: 30px;
        color: var(--light-dark);
    }
    
    .service p{
        color: var(--light-dark);
    }
}

@media(max-width:780px){
    .aboutUs .content .contentText::before{
        top: -20px;
    }
}


@media(max-width:480px){
    header .header-1 .navbar{
        display: none;
    }

    .burger{
        display: block;
    }

    .banner{
        text-align: center;
    }

    .banner .content ul{
        display: inline-block;
        list-style: none;
    }

    .banner .content ul li:nth-child(2){
        margin-top: 30px;
    }

    .course{
        background: var(--white-color);
        padding-top: 60px;
    }

    .service{
        margin-top: -40px;
    }

    .footer .bottomNav ul{
        column-gap: 10px;
    }

    .footer ul li a{
        color: var(--white-color);
        font-size: 1rem;
    }

}
